@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

/* Header style */

.banner {
    width: 100%;
    height: 90vh;
    background-image: url('./images/banner.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 60px;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.logo {
    width: 15%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.logo-img {
    width: 60%;
    height: 60px;
}

.logo-text {
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.nav {
    width: 60%;
    height: 60px;
}

.nav-links {
    width: 100%;
    height: 60px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-link:hover {
    background-color: black;
    color: white;
}

/* Banner details style */

.banner-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    row-gap: 30px;
}

.badge {
    width: 30%;
    background-color: lightgray;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 400;
}

.banner-heading {
    font-weight: 600;
    font-size: 50px;
    color: white;
}

.btn {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 2px;
}

.booking {
    width: 70%;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    column-gap: 20px;
}

.inp {
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.inp input {
    padding: 5px ;
    outline: none;
}

.book-btn {
    padding: 5px;
    margin-top: 28px;
}

/* About us style */

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15%;
    background-color: white;
    font-size: 20px;
    font-weight: 200;
    word-spacing: 5px;
    row-gap: 30px;
}

.highlight {
    font-size: 20px;
    font-weight: 600;
}

.icon {
    font-size: 40px;
    color: #06def5;
}

/* Rooms section style */

.rooms {
    width: 100%;
    padding: 30px 15%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-size: 30px;
}

.rooms-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 30px;
    margin-top: 50px;
}

.room {
    width: 30%;
    background-color: white;
    padding: 10px;
}

.room-img {
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.room-image {
    width: 100%;
    height: 160px;
    transition: 0.3s;
    cursor: pointer;
}

.room-image:hover {
    transform: scale(1.3);
}

.room-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    font-size: 15px;
}

/* Subscribe section style */

.subscribe {
    width: 100%;
    padding: 30px 15%;
    display: flex;
    justify-content: space-between;
}

.sub-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.logo2 {
    width: 30%;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
}

.sub-area {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.sub-form {
    display: flex;
}

.sub-inp {
    width: 70%;
    text-indent: 5px;
    outline: none;
    font-size: 16px;
}

/* Foods section */

.foods {
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    background-image: url("./images/restaurant.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.food-detail
{
    width: 65%;
    padding:50px 10px 50px 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}

/* Premium section style */

.premium {
    width: 100%;
    padding: 30px 15%;
    display: flex;
    background-color: #f9f9f9;
    flex-direction: column;
    align-items: center;
}

.section-header {
    font-size: 30px;
}

.prooms-area {
    width: 100%;
    height: 760px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.proom-img {
    width: 30%;
    height: 760px;
    overflow: hidden;
}

.proom-image {
    width: 100%;
}

.proom-boxes {
    width: 65%;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    row-gap: 5px;
    padding: 20px;
    background-color: white;
}

/* Gallery section style */

.gallery {
    width: 100%;
    padding: 30px 15%;
    background-color: black;
}

.gall-img {
    width: 33%;
    opacity: 0.5 !important;
    cursor: pointer;
    transition: 0.3s;
}

.gall-img:hover {
    opacity: 1 !important;
}